.exhibitions
  &:after
    content: ""
    display: table
    clear: both

.exhibitions__heading
  width: 100%

.exhibitions__item
  background-color: pink
  width: 47.5%
  height: 700px
  float: left
  margin-bottom: 2.5%
  &:nth-child(odd)
    margin-left: 2.5%
  &:nth-child(even)
    margin-right: 2.5%
  a
    &:hover
      cursor: copy
      content: "Here we have something about the image"

.exhibitions__overlay
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  height: 100%
  width: 100%
  opacity: 0
  transition: .5s ease
  background-color: #008CBA
